body {
  margin: 0;
}

h1 {
  margin-top: 480px;
}

h2,
h3 {
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(196, 196, 196, 0.25);
  position: fixed;
  width: 100%;
  height: 75px;
}

.navigation div {
  margin: 10px 10px 10px 60px;
  display: flex;
}

.navigation div a {
  padding: 20px;
  font-family: "Righteous", cursive;
  color: black;
  text-decoration-line: none;
}

.header {
  margin: 0;
  background: url(./images/header.jpg);
  min-height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  text-align: center;
}

.three-col-grid {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  margin: 0 auto;
  text-align: center;
}

.carousel {
  text-align: center;
}

.avatar {
  box-shadow: -20px -20px gray;
  border-radius: 30px;
}

#social-media-icon > div > div > a > img {
  width: 20px;
  height: 20px;
}
