body {
  margin: 0;
}

h2,
h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.navigation li {
  display: inline;
  justify-content: space-between;
}

.navigation li a {
  padding: 20px;
}

.header {
  margin: 0;
  background: url(./images/header.jpg);
  height: 825px;
}

.content {
  display: flex;
  flex-direction: column;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  text-align: center;
}

.three-col-grid {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  margin: 0 auto;
  text-align: center;
}

.carousel {
  text-align: center;
}
